In [12]:
from findspark import init
init()
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import * 
from utils import setupLogging,versionInfo,getAllConf,getInputData

In [13]:
spark = SparkSession.builder.appName("SparkTest").master("local[*]").getOrCreate()

In [14]:
setupLogging()
logger = logging.getLogger(__name__)
logger.info("Starting....")
[logger.info(s) for s in versionInfo(spark).split('\n')]
[logger.info(s) for s in getAllConf(spark).split('\n')]

2017-11-22 18:55:18,296 - __main__ - INFO - Starting....
2017-11-22 18:55:18,301 - __main__ - INFO -
2017-11-22 18:55:18,307 - __main__ - INFO - ---------------------------------------------------------------------------------
2017-11-22 18:55:18,309 - __main__ - INFO -  Spark version: 2.1.1
2017-11-22 18:55:18,310 - __main__ - INFO -  Spark master : local[*]
2017-11-22 18:55:18,312 - __main__ - INFO -  Spark running locally? True
2017-11-22 18:55:18,313 - __main__ - INFO -  Default parallelism: 4
2017-11-22 18:55:18,317 - __main__ - INFO - ---------------------------------------------------------------------------------
2017-11-22 18:55:18,318 - __main__ - INFO -
2017-11-22 18:55:18,346 - __main__ - INFO - key: [spark.app.id], value: [local-1511376846915]
2017-11-22 18:55:18,347 - __main__ - INFO - key: [spark.driver.port], value: [38927]
2017-11-22 18:55:18,350 - __main__ - INFO - key: [spark.rdd.compress], value: [True]
2017-11-22 18:55:18,355 - __main__ - INFO - key: [hive.metastore.warehouse.dir], value: [file:/home/martinr/Dropbox/Martin/Documents/projects/python/git_projects/spark_python3_example/spark-warehouse/]
2017-11-22 18:55:18,356 - __main__ - INFO - key: [spark.driver.host], value: [192.168.1.120]
2017-11-22 18:55:18,359 - __main__ - INFO - key: [spark.serializer.objectStreamReset], value: [100]
2017-11-22 18:55:18,361 - __main__ - INFO - key: [spark.master], value: [local[*]]
2017-11-22 18:55:18,363 - __main__ - INFO - key: [spark.executor.id], value: [driver]
2017-11-22 18:55:18,365 - __main__ - INFO - key: [spark.submit.deployMode], value: [client]
2017-11-22 18:55:18,367 - __main__ - INFO - key: [spark.app.name], value: [SparkTest]

[None, None, None, None, None, None, None, None, None, None]

In [7]:
empSchema = StructType([ StructField("emp_no",LongType(),False),
                        StructField("birth_date",DateType(),False),
                        StructField("first_name",StringType(),True),
                        StructField("last_name",StringType(),True),
                        StructField("gender",StringType(),True),
                        StructField("hire_date",DateType(),False) ])

titlesSchema = StructType([ StructField("emp_no",LongType(),False),
                            StructField("title",StringType(),False),
                            StructField("from_date",DateType(),True),
                            StructField("to_date",DateType(),True) ])

In [8]:
empsRDD = spark.sparkContext.parallelize(getInputData("data/employees.json"))
empsDF  = spark.read.schema(empSchema).json(empsRDD)
empsDF.createOrReplaceTempView("employees")

titlesRDD = spark.sparkContext.parallelize(getInputData("data/titles.json"))
titlesDF  = spark.read.schema(titlesSchema).json(titlesRDD)
titlesDF.createOrReplaceTempView("titles")

title = spark.sql("select * from titles") \
             .select('emp_no','title','from_date','to_date') \
             .where("from_date <= current_date and to_date > current_date")
title.cache()        
        
emp = spark.table("employees")
emp.cache()

DataFrame[emp_no: bigint, birth_date: date, first_name: string, last_name: string, gender: string, hire_date: date]

In [9]:
result = emp.alias('employee') \
            .select('emp_no','first_name','last_name') \
            .join(title.alias('title'),emp['emp_no'] == title['emp_no']) \
            .select("employee.emp_no","employee.first_name","employee.last_name","title.title")
for row in result.collect():
    print(row)

Row(emp_no=10156, first_name='Sumali', last_name='Fargier', title='Senior Engineer')
Row(emp_no=10422, first_name='Greger', last_name='Rubsam', title='Engineer')
Row(emp_no=10871, first_name='Aram', last_name='Gilg', title='Staff')
Row(emp_no=10636, first_name='Saeko', last_name='Porotnikoff', title='Staff')
Row(emp_no=10889, first_name='Cheong', last_name='Coors', title='Senior Staff')
Row(emp_no=10014, first_name='Berni', last_name='Genin', title='Engineer')
Row(emp_no=10430, first_name='Ferdinand', last_name='Chenney', title='Senior Engineer')
Row(emp_no=10573, first_name='Tetsushi', last_name='Speel', title='Staff')
Row(emp_no=10627, first_name='Shigeu', last_name='Itzfeldt', title='Senior Staff')
Row(emp_no=10004, first_name='Chirstian', last_name='Koblick', title='Senior Engineer')
Row(emp_no=10178, first_name='Valery', last_name='Litvinov', title='Staff')
Row(emp_no=10205, first_name='Mabhin', last_name='Leijenhorst', title='Senior Engineer')
Row(emp_no=10433, first_name='Reuven', last_name='Dengi', title='Engineer')
Row(emp_no=10448, first_name='Phule', last_name='Oxenboll', title='Senior Staff')
Row(emp_no=10779, first_name='Mori', last_name='Yavatkar', title='Senior Staff')
Row(emp_no=10913, first_name='Narain', last_name='Thummel', title='Staff')
Row(emp_no=10923, first_name='Younwoo', last_name='Maquelin', title='Senior Staff')
Row(emp_no=10151, first_name='Itzchak', last_name='Lichtner', title='Senior Staff')
Row(emp_no=10176, first_name='Brendon', last_name='Lenart', title='Senior Staff')
Row(emp_no=10431, first_name='Patricio', last_name='Bugrara', title='Senior Staff')
Row(emp_no=10510, first_name='Keung', last_name='Slobodova', title='Senior Staff')
Row(emp_no=10620, first_name='Marit', last_name='Veeraraghavan', title='Engineer')
Row(emp_no=10695, first_name='Zorica', last_name='Acton', title='Engineer')
Row(emp_no=10426, first_name='Arunas', last_name='Luce', title='Technique Leader')
Row(emp_no=10748, first_name='Yuchang', last_name='Francisci', title='Senior Staff')
Row(emp_no=10988, first_name='Chinya', last_name='Deyuan', title='Senior Engineer')
Row(emp_no=10070, first_name='Reuven', last_name='Garigliano', title='Technique Leader')
Row(emp_no=10141, first_name='Shahaf', last_name='Ishibashi', title='Senior Staff')
Row(emp_no=10246, first_name='Basem', last_name='Teitelbaum', title='Senior Engineer')
Row(emp_no=10284, first_name='Masali', last_name='Murrill', title='Engineer')
Row(emp_no=10622, first_name='Turgut', last_name='Narlikar', title='Senior Engineer')
Row(emp_no=10670, first_name='Shunichi', last_name='McAffer', title='Senior Staff')
Row(emp_no=10946, first_name='Shaz', last_name='Kabayashi', title='Staff')
Row(emp_no=10123, first_name='Hinrich', last_name='Randi', title='Engineer')
Row(emp_no=10166, first_name='Samphel', last_name='Siegrist', title='Engineer')
Row(emp_no=10168, first_name='Dharmaraja', last_name='Stassinopoulos', title='Senior Staff')
Row(emp_no=10182, first_name='Moriyoshi', last_name='Merey', title='Senior Engineer')
Row(emp_no=10388, first_name='Hironoby', last_name='Kaiser', title='Staff')
Row(emp_no=10428, first_name='Cathie', last_name='Brlek', title='Senior Staff')
Row(emp_no=10875, first_name='Filipp', last_name='Suri', title='Senior Engineer')
Row(emp_no=10019, first_name='Lillian', last_name='Haddadi', title='Staff')
Row(emp_no=10078, first_name='Danel', last_name='Mondadori', title='Engineer')
Row(emp_no=10240, first_name='Remko', last_name='Maccarone', title='Engineer')
Row(emp_no=10282, first_name='Hercules', last_name='Benzmuller', title='Engineer')
Row(emp_no=10499, first_name='Maik', last_name='Luft', title='Senior Staff')
Row(emp_no=10287, first_name='Marie', last_name='Pietracaprina', title='Senior Staff')
Row(emp_no=10624, first_name='Sham', last_name='Gyorkos', title='Technique Leader')
Row(emp_no=10924, first_name='Hironoby', last_name='Atchley', title='Senior Staff')
Row(emp_no=10091, first_name='Amabile', last_name='Gomatam', title='Senior Engineer')
Row(emp_no=10330, first_name='Kasturi', last_name='Bellmore', title='Staff')
Row(emp_no=10037, first_name='Pradeep', last_name='Makrucki', title='Senior Engineer')
Row(emp_no=10473, first_name='Przemyslawa', last_name='Oskamp', title='Engineer')
Row(emp_no=10520, first_name='Jenwei', last_name='Ecklund', title='Senior Engineer')
Row(emp_no=10546, first_name='Nechama', last_name='Schapiro', title='Senior Staff')
Row(emp_no=10615, first_name='Keung', last_name='Delgrande', title='Senior Staff')
Row(emp_no=10655, first_name='Remko', last_name='Dalton', title='Senior Staff')
Row(emp_no=10684, first_name='Aimee', last_name='Tokunaga', title='Engineer')
Row(emp_no=10710, first_name='Sorina', last_name='Kermarrec', title='Senior Staff')
Row(emp_no=10989, first_name='Sumali', last_name='Candan', title='Senior Staff')
Row(emp_no=10106, first_name='Eben', last_name='Aingworth', title='Senior Engineer')
Row(emp_no=10456, first_name='Stepehn', last_name='Hardjono', title='Staff')
Row(emp_no=10715, first_name='Goa', last_name='Poehlman', title='Engineer')
Row(emp_no=10759, first_name='JiYoung', last_name='Chenney', title='Technique Leader')
Row(emp_no=10297, first_name='Narain', last_name='Oaver', title='Senior Engineer')
Row(emp_no=10418, first_name='Candida', last_name='Porotnikoff', title='Staff')
Row(emp_no=10530, first_name='Boriana', last_name='Coors', title='Senior Engineer')
Row(emp_no=10723, first_name='Eckart', last_name='Harnett', title='Technique Leader')
Row(emp_no=10967, first_name='Eran', last_name='Adachi', title='Senior Engineer')
Row(emp_no=10290, first_name='Yongmao', last_name='Pleszkun', title='Senior Engineer')
Row(emp_no=10630, first_name='Bezalel', last_name='Katzenelson', title='Engineer')
Row(emp_no=10864, first_name='Elliott', last_name='Spieker', title='Senior Staff')
Row(emp_no=10314, first_name='Christfried', last_name='Apsitis', title='Senior Staff')
Row(emp_no=10072, first_name='Hironoby', last_name='Sidou', title='Senior Engineer')
Row(emp_no=10449, first_name='Aleksandar', last_name='Sudkamp', title='Senior Staff')
Row(emp_no=10603, first_name='Wayne', last_name='Restivo', title='Staff')
Row(emp_no=10674, first_name='Abdelaziz', last_name='Bisiani', title='Engineer')
Row(emp_no=10758, first_name='Fumiyo', last_name='Boyle', title='Engineer')
Row(emp_no=10540, first_name='Martins', last_name='Barriga', title='Senior Engineer')
Row(emp_no=10671, first_name='Parviz', last_name='Rebaine', title='Senior Staff')
Row(emp_no=10798, first_name='Elliott', last_name='Bednarek', title='Senior Engineer')
Row(emp_no=10059, first_name='Alejandro', last_name='McAlpine', title='Senior Staff')
Row(emp_no=10239, first_name='Nikolaos', last_name='Llado', title='Staff')
Row(emp_no=10103, first_name='Akemi', last_name='Birch', title='Engineer')
Row(emp_no=10654, first_name='Nahla', last_name='Castellani', title='Senior Engineer')
Row(emp_no=10631, first_name='Inderjeet', last_name='Chaudhuri', title='Engineer')
Row(emp_no=10675, first_name='Ymte', last_name='Waschkowski', title='Senior Staff')
Row(emp_no=10258, first_name='Basil', last_name='Ishibashi', title='Senior Engineer')
Row(emp_no=10183, first_name='Mechthild', last_name='Bonifati', title='Staff')
Row(emp_no=10565, first_name='Yishay', last_name='Harnett', title='Senior Engineer')
Row(emp_no=10653, first_name='Otmar', last_name='Feinberg', title='Senior Engineer')
Row(emp_no=10061, first_name='Tse', last_name='Herber', title='Senior Staff')
Row(emp_no=10377, first_name='Marl', last_name='Grospietsch', title='Senior Engineer')
Row(emp_no=10676, first_name='Valeri', last_name='Danley', title='Engineer')
Row(emp_no=10702, first_name='Bader', last_name='Szemeredi', title='Senior Engineer')
Row(emp_no=10030, first_name='Elvis', last_name='Demeyer', title='Senior Engineer')
Row(emp_no=10081, first_name='Zhongwei', last_name='Rosen', title='Senior Engineer')
Row(emp_no=10244, first_name='Foong', last_name='Flasterstein', title='Engineer')
Row(emp_no=10262, first_name='Mahendra', last_name='Maraist', title='Staff')
Row(emp_no=10783, first_name='Moty', last_name='Kenevan', title='Senior Staff')
Row(emp_no=10020, first_name='Mayuko', last_name='Warwick', title='Engineer')
Row(emp_no=10368, first_name='Hatim', last_name='Koshiba', title='Assistant Engineer')
Row(emp_no=10379, first_name='Mikhail', last_name='Rosis', title='Engineer')
Row(emp_no=10450, first_name='Khun', last_name='Harbusch', title='Engineer')
Row(emp_no=10481, first_name='Yongmao', last_name='Pintelas', title='Senior Engineer')
Row(emp_no=10709, first_name='Jiafu', last_name='Mateescu', title='Senior Engineer')
Row(emp_no=10915, first_name='Valery', last_name='Skafidas', title='Senior Engineer')
Row(emp_no=10454, first_name='Wonhee', last_name='Badr', title='Senior Staff')
Row(emp_no=10462, first_name='Sumali', last_name='Schlenzig', title='Senior Engineer')
Row(emp_no=10826, first_name='Arnd', last_name='Anandan', title='Senior Engineer')
Row(emp_no=10095, first_name='Hilari', last_name='Morton', title='Senior Staff')
Row(emp_no=10187, first_name='Tommaso', last_name='Narwekar', title='Senior Staff')
Row(emp_no=10768, first_name='Ishfaq', last_name='Candan', title='Senior Engineer')
Row(emp_no=10974, first_name='Muneo', last_name='Papsdorf', title='Senior Engineer')
Row(emp_no=10343, first_name='Dinah', last_name='Syrzycki', title='Senior Engineer')
Row(emp_no=10486, first_name='Amstein', last_name='Kossowski', title='Senior Engineer')
Row(emp_no=10848, first_name='Fen', last_name='Bratsberg', title='Senior Engineer')
Row(emp_no=10198, first_name='Pranav', last_name='Furedi', title='Senior Engineer')
Row(emp_no=10560, first_name='Yinlin', last_name='Esteva', title='Engineer')
Row(emp_no=10592, first_name='Almudena', last_name='Alvarado', title='Staff')
Row(emp_no=10616, first_name='Tommaso', last_name='Marwedel', title='Staff')
Row(emp_no=10927, first_name='Gal', last_name='Scallan', title='Senior Staff')
Row(emp_no=10053, first_name='Sanjiv', last_name='Zschoche', title='Senior Staff')
Row(emp_no=10060, first_name='Breannda', last_name='Billingsley', title='Senior Staff')
Row(emp_no=10281, first_name='Moty', last_name='Kusakari', title='Senior Engineer')
Row(emp_no=10697, first_name='Bluma', last_name='Hiltgen', title='Staff')
Row(emp_no=10128, first_name='Babette', last_name='Lamba', title='Senior Staff')
Row(emp_no=10200, first_name='Vidya', last_name='Awdeh', title='Senior Engineer')
Row(emp_no=10752, first_name='Byong', last_name='Conde', title='Senior Engineer')
Row(emp_no=10970, first_name='Gen', last_name='Tiemann', title='Engineer')
Row(emp_no=10325, first_name='Arunachalam', last_name='Badr', title='Senior Staff')
Row(emp_no=10458, first_name='Gina', last_name='Engelmann', title='Senior Staff')
Row(emp_no=10666, first_name='Zhonghua', last_name='Reeker', title='Senior Staff')
Row(emp_no=10814, first_name='Nidapan', last_name='Dymetman', title='Senior Staff')
Row(emp_no=10224, first_name='Leon', last_name='Trogemann', title='Senior Engineer')
Row(emp_no=10336, first_name='Goa', last_name='Rothe', title='Staff')
Row(emp_no=10929, first_name='Sumali', last_name='Arlazarov', title='Senior Staff')
Row(emp_no=10956, first_name='Arno', last_name='Picel', title='Engineer')
Row(emp_no=10023, first_name='Bojan', last_name='Montemayor', title='Engineer')
Row(emp_no=10216, first_name='Amstein', last_name='Ghemri', title='Senior Staff')
Row(emp_no=10446, first_name='Ebru', last_name='Chepyzhov', title='Engineer')
Row(emp_no=10645, first_name='Fumiyo', last_name='Esposito', title='Senior Engineer')
Row(emp_no=10897, first_name='Arno', last_name='Kumaresan', title='Senior Staff')
Row(emp_no=10990, first_name='Shin', last_name='Foote', title='Technique Leader')
Row(emp_no=10051, first_name='Hidefumi', last_name='Caine', title='Senior Engineer')
Row(emp_no=10296, first_name='Petter', last_name='Lorho', title='Senior Staff')
Row(emp_no=10387, first_name='Parto', last_name='Wrigley', title='Senior Staff')
Row(emp_no=10626, first_name='Danil', last_name='Deverell', title='Staff')
Row(emp_no=10870, first_name='Shahid', last_name='Leppanen', title='Senior Engineer')
Row(emp_no=10392, first_name='Jiann', last_name='Hainaut', title='Senior Engineer')
Row(emp_no=10507, first_name='Kasidit', last_name='Belinskaya', title='Senior Staff')
Row(emp_no=10539, first_name='Yucel', last_name='Reinhard', title='Senior Staff')
Row(emp_no=10816, first_name='Morris', last_name='Caine', title='Senior Staff')
Row(emp_no=10109, first_name='Mariusz', last_name='Prampolini', title='Senior Engineer')
Row(emp_no=10323, first_name='Kankanahalli', last_name='Hinsberger', title='Senior Engineer')
Row(emp_no=10589, first_name='Subbu', last_name='Sanella', title='Senior Staff')
Row(emp_no=10639, first_name='Pramod', last_name='Erol', title='Senior Engineer')
Row(emp_no=10043, first_name='Yishay', last_name='Tzvieli', title='Senior Engineer')
Row(emp_no=10088, first_name='Jungsoon', last_name='Syrzycki', title='Senior Staff')
Row(emp_no=10257, first_name='Aiman', last_name='Riexinger', title='Technique Leader')
Row(emp_no=10271, first_name='Sham', last_name='Eastman', title='Senior Engineer')
Row(emp_no=10836, first_name='Jianhua', last_name='Leivant', title='Senior Staff')
Row(emp_no=10852, first_name='Hercules', last_name='Munck', title='Technique Leader')
Row(emp_no=10307, first_name='Nikolaos', last_name='Leaver', title='Engineer')
Row(emp_no=10383, first_name='Leucio', last_name='Aumann', title='Senior Engineer')
Row(emp_no=10502, first_name='Yonghoan', last_name='Marshall', title='Technique Leader')
Row(emp_no=10754, first_name='Chenyi', last_name='Feinberg', title='Senior Staff')
Row(emp_no=10763, first_name='Giap', last_name='Bolsens', title='Senior Engineer')
Row(emp_no=10112, first_name='Yuichiro', last_name='Swick', title='Staff')
Row(emp_no=10308, first_name='Dzung', last_name='Holburn', title='Senior Staff')
Row(emp_no=10718, first_name='Adib', last_name='Rullman', title='Senior Engineer')
Row(emp_no=10361, first_name='Seshu', last_name='Sidou', title='Senior Staff')
Row(emp_no=10716, first_name='Aiman', last_name='Constantine', title='Senior Engineer')
Row(emp_no=10301, first_name='Lucien', last_name='Staudhammer', title='Senior Staff')
Row(emp_no=10983, first_name='Somnath', last_name='Parascandalo', title='Senior Engineer')
Row(emp_no=10463, first_name='Ung', last_name='Zaiane', title='Staff')
Row(emp_no=10511, first_name='Khoa', last_name='Marrevee', title='Engineer')
Row(emp_no=10643, first_name='Slavian', last_name='Keirsey', title='Senior Engineer')
Row(emp_no=10965, first_name='Eckart', last_name='Braunschweig', title='Senior Staff')
Row(emp_no=10969, first_name='Premal', last_name='Noriega', title='Senior Engineer')
Row(emp_no=10973, first_name='Valdiodio', last_name='Raczkowsky', title='Senior Engineer')
Row(emp_no=10987, first_name='Flemming', last_name='Baezner', title='Engineer')
Row(emp_no=10247, first_name='Heon', last_name='Riefers', title='Senior Engineer')
Row(emp_no=10309, first_name='Prodip', last_name='Schusler', title='Assistant Engineer')
Row(emp_no=10311, first_name='Hsiangchu', last_name='Molenkamp', title='Engineer')
Row(emp_no=10381, first_name='Jiong', last_name='Parfitt', title='Engineer')
Row(emp_no=10390, first_name='Wanqing', last_name='Bratten', title='Technique Leader')
Row(emp_no=10471, first_name='Jouko', last_name='Yamaashi', title='Senior Engineer')
Row(emp_no=10839, first_name='Gurbir', last_name='Katiyar', title='Assistant Engineer')
Row(emp_no=10936, first_name='Mountaz', last_name='Schicker', title='Senior Staff')
Row(emp_no=10337, first_name='Jeong', last_name='Sadowsky', title='Assistant Engineer')
Row(emp_no=10386, first_name='Eishiro', last_name='Miyakawa', title='Senior Engineer')
Row(emp_no=10465, first_name='Claudi', last_name='Shackel', title='Senior Staff')
Row(emp_no=10577, first_name='Ennio', last_name='Schmiedel', title='Senior Staff')
Row(emp_no=10937, first_name='Anyuan', last_name='Nanard', title='Senior Engineer')
Row(emp_no=10285, first_name='Zhonghui', last_name='Preusig', title='Staff')
Row(emp_no=10411, first_name='Lidong', last_name='Klerer', title='Senior Staff')
Row(emp_no=10701, first_name='Hyuncheol', last_name='Zolotykh', title='Senior Staff')
Row(emp_no=10980, first_name='Filipp', last_name='Munawer', title='Senior Engineer')
Row(emp_no=10435, first_name='Marsha', last_name='Tagansky', title='Engineer')
Row(emp_no=10558, first_name='Hisao', last_name='Famili', title='Senior Engineer')
Row(emp_no=10661, first_name='Ottavia', last_name='Giarratana', title='Senior Staff')
Row(emp_no=10818, first_name='Huan', last_name='Monarch', title='Staff')
Row(emp_no=10641, first_name='Guozhong', last_name='Zucker', title='Engineer')
Row(emp_no=10218, first_name='Zhenhua', last_name='Magalhaes', title='Senior Engineer')
Row(emp_no=10227, first_name='Anneli', last_name='Kaiser', title='Technique Leader')
Row(emp_no=10810, first_name='Lijie', last_name='Lunn', title='Senior Staff')
Row(emp_no=10017, first_name='Cristinel', last_name='Bouloucos', title='Senior Staff')
Row(emp_no=10160, first_name='Debatosh', last_name='Khasidashvili', title='Senior Staff')
Row(emp_no=10677, first_name='Alejandra', last_name='Perng', title='Engineer')
Row(emp_no=10866, first_name='Fayez', last_name='Yeung', title='Senior Staff')
Row(emp_no=10991, first_name='Munehiro', last_name='Aingworth', title='Engineer')
Row(emp_no=10133, first_name='Giri', last_name='Isaak', title='Senior Engineer')
Row(emp_no=10238, first_name='Mototsugu', last_name='Gire', title='Engineer')
Row(emp_no=10417, first_name='Bingning', last_name='Bakhtari', title='Staff')
Row(emp_no=10533, first_name='Mohamadou', last_name='Smailagic', title='Senior Staff')
Row(emp_no=10657, first_name='Juichirou', last_name='Kitsuregawa', title='Senior Staff')
Row(emp_no=10049, first_name='Basil', last_name='Tramer', title='Senior Staff')
Row(emp_no=10263, first_name='Takahiro', last_name='Waterhouse', title='Staff')
Row(emp_no=10554, first_name='Dines', last_name='Gerlach', title='Senior Engineer')
Row(emp_no=10928, first_name='Udaiprakash', last_name='Schmezko', title='Senior Staff')
Row(emp_no=10036, first_name='Adamantios', last_name='Portugali', title='Senior Staff')
Row(emp_no=10397, first_name='Irena', last_name='Reutenauer', title='Technique Leader')
Row(emp_no=10469, first_name='Munehiko', last_name='Ananiadou', title='Senior Engineer')
Row(emp_no=10698, first_name='Barton', last_name='Engberts', title='Senior Engineer')
Row(emp_no=10799, first_name='Gad', last_name='Griswold', title='Senior Engineer')
Row(emp_no=10117, first_name='Kiyotoshi', last_name='Blokdijk', title='Senior Engineer')
Row(emp_no=10413, first_name='Danel', last_name='Impagliazzo', title='Senior Staff')
Row(emp_no=10503, first_name='Dannz', last_name='Pell', title='Engineer')
Row(emp_no=10735, first_name='Morrie', last_name='Gewali', title='Senior Staff')
Row(emp_no=10215, first_name='Xiaobin', last_name='Duclos', title='Senior Staff')
Row(emp_no=10667, first_name='Makato', last_name='Cusworth', title='Senior Staff')
Row(emp_no=10993, first_name='Arve', last_name='Erde', title='Senior Engineer')
Row(emp_no=10010, first_name='Duangkaew', last_name='Piveteau', title='Engineer')
Row(emp_no=10172, first_name='Shigeu', last_name='Matzen', title='Engineer')
Row(emp_no=10567, first_name='Dietrich', last_name='Journel', title='Senior Staff')
Row(emp_no=10769, first_name='Vishv', last_name='Bouloucos', title='Technique Leader')
Row(emp_no=10939, first_name='Matk', last_name='Akazan', title='Assistant Engineer')
Row(emp_no=10252, first_name='Shirish', last_name='Wegerle', title='Senior Engineer')
Row(emp_no=10270, first_name='Bedir', last_name='Hartvigsen', title='Senior Staff')
Row(emp_no=10273, first_name='Baocai', last_name='Lieblein', title='Senior Staff')
Row(emp_no=10807, first_name='Munehiro', last_name='Zallocco', title='Senior Staff')
Row(emp_no=10986, first_name='Masako', last_name='Schiper', title='Technique Leader')

In [10]:
logger.info("Stopped.....")

2017-11-22 18:54:24,184 - __main__ - INFO - Stopped.....